# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.UrlShortener.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yvuyiv\RiderProjects\UrlShortener\.idea\.idea.UrlShortener\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
