@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter Url to shorten</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <fieldset>
            <input type="text" name="url" value="@Model"/>
            <input type="submit" value="Shorten" class="btn btn-primary"/>
        </fieldset>
    }
</div>